*{
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    justify-content: space-around;
    background-color: rgb(246, 142, 142);
    padding: 10px;
}
.header > div{
    font-size: 1.6em;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.main{
    background-color: rgb(115, 239, 115);
    /* height: 35vh; */
}
.heading{
   text-align: center;
   padding: 8%;
   /* margin-top: 50px; */
}

.vlog{
    padding: 2%;
    margin: 2%;
    text-align: center;
    display: inline-block;
}